# Como crear un Data Frame

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'A': np.random.rand(10),
    'B': np.random.rand(10),
    'C': np.random.rand(10)
})

In [3]:
df

          A         B         C
0  0.180494  0.234422  0.126668
1  0.092717  0.070868  0.400313
2  0.509867  0.953619  0.424002
3  0.449428  0.505148  0.476984
4  0.760555  0.236936  0.042082
5  0.710937  0.136184  0.474189
6  0.732934  0.728019  0.490038
7  0.960843  0.179076  0.110184
8  0.967901  0.565657  0.850663
9  0.777129  0.750295  0.009396

In [4]:
df.mean()

A    0.614280
B    0.436022
C    0.340452
dtype: float64

In [5]:
df.mean(axis='columns')

0    0.180528
1    0.187966
2    0.629163
3    0.477187
4    0.346524
5    0.440437
6    0.650330
7    0.416701
8    0.794740
9    0.512273
dtype: float64

In [8]:
df.mean(axis=1)

0    0.180528
1    0.187966
2    0.629163
3    0.477187
4    0.346524
5    0.440437
6    0.650330
7    0.416701
8    0.794740
9    0.512273
dtype: float64

In [20]:
df2 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'values': range(6)
})
df2

  key  values
0   A       0
1   B       1
2   C       2
3   A       3
4   B       4
5   C       5

In [21]:
df2.groupby('key')

In [22]:
df2.groupby('key').mean()

     values
key
A       1.5
B       2.5
C       3.5